{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">

    var _LEFT = "{{ movements.left }}";
    var _RIGHT = "{{ movements.right }}";
    var _FORWARD = "{{ movements.forward }}";
    var _BACKWORD = "{{ movements.backward }}";
    var _STOP = "{{ movements.stop }}";

    var movementHandler = function(movement) {

        console.log('handling movement ' + movement)

        var updateMovement = function(movement) {
            console.log('updating arrow to ' + movement)
            if (movement == _LEFT) {
                document.getElementById("direction").src = "{{ url_for('static',filename='left.png') }}";
            } else if (movement == _FORWARD) {
                document.getElementById("direction").src = "{{ url_for('static', filename='forward.png') }}";
            } else if (movement == _RIGHT) {
                document.getElementById("direction").src = "{{ url_for('static', filename='right.png') }}";
            } else if (movement == _BACKWORD) {
                document.getElementById("direction").src = "{{ url_for('static', filename='backward.png') }}";
            } else if (movement == _STOP) {
                document.getElementById("direction").src = "{{ url_for('static', filename='stopped.png') }}";    
            }

            return false;
        };

        var sendMovement = function(movement) {
            console.log('sending movement ' + movement)
            $.getJSON(
                $SCRIPT_ROOT + 'drive',
                {direction: movement},
                function(data) {
                    $('#result').text(data.result);
                });

            return false;
        };

        updateMovement(movement);
        sendMovement(movement);
    };


    $(function() {

        var submitCommand = function(e) {
            var keynum = e.keyCode;
            console.log(keynum)

            if (keynum == 37) { // left
                movement = _LEFT
            } else if (keynum == 38) { // up
                movement = _FORWARD
            } else if (keynum == 39) { //right
                movement = _RIGHT
            } else if (keynum == 40) { //down
                movement = _BACKWORD
            } else {
                return false;
            }

            movementHandler(movement);

            return false;
        };

        var reset = function(e) {
            console.log('resetting')
            movementHandler(_STOP)
        }

        $('body').bind('keydown', submitCommand);
        $('body').bind('keyup', reset)

    }).ready();
    
</script>
<span id="result"></span>
<img id="direction" src="{{ url_for('static', filename='stopped.png') }}"><img>
{% endblock %}
