{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
    function updateMovement(movement) {
        if (movement == "left") {
            document.getElementById("direction").src = "{{ url_for('static',filename='left.png') }}";
        } else if (movement == "forward") {
            document.getElementById("direction").src = "{{ url_for('static', filename='forward.png') }}";
        } else if (movement == "right") {
            document.getElementById("direction").src = "{{ url_for('static', filename='right.png') }}";
        } else if (movement == "backward") {
            document.getElementById("direction").src = "{{ url_for('static', filename='backward.png') }}";
        // } else if (movement == "stopped") {
        //     document.getElementById("direction").src = "{{ url_for('static', filename='stopped.png') }}";
        }
    };


    $(function() {
        var source = new EventSource('/subscribe/movement');

        source.addEventListener('message',
            function(e) {
                var data = e.data;
                console.log('movement ' + data)
                updateMovement(data)
            },
            false
        );

        var submitCommand = function(e) {
            keynum = e.keyCode;

            if (keynum == 37) { // left
                command = 'left'
            } else if (keynum == 38) { // up
                command = 'forward'
            } else if (keynum == 39) { //right
                command = 'right'
            } else if (keynum == 40) { //down
                command = 'backward'
            } else {
                return false;
            }

            console.log('command ' + command)
            $.getJSON($SCRIPT_ROOT + 'drive', {
                direction: command
            }, function(data) {
                $('#result').text(data.result);
            });

            return false;
        };

        $('body').bind('keydown', submitCommand);
    }).ready();
    
</script>
<span id="result"></span>
<img id="direction" src="{{ url_for('static', filename='stopped.png') }}"><img>
{% endblock %}
